# Data Science Tools and Ecosystem

## Introduction
This notebook explores Data Science tools, languages, and libraries. It includes examples of arithmetic operations and unit conversions.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Tool | Description |
|------|-------------|
| Jupyter Notebook | Interactive coding environment |
| RStudio | IDE for R programming |
| Apache Spark | Big data processing |
| Tableau | Data visualization tool |
| GitHub | Version control platform |

## Arithmetic Expression Examples
Below are examples of multiplication and addition in Python.

In [2]:
# Multiply and add numbers
a = 3
b = 4
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Addition: {a} + {b} = {a + b}")

Multiplication: 3 * 4 = 12
Addition: 3 + 4 = 7

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

## Objectives
- Learn Data Science languages.
- Explore Data Science libraries and tools.
- Perform arithmetic operations in Python.
- Convert minutes to hours.
- Create a structured notebook.

## Author
Name: [Muhammad Ahmed]